.category-page {
  .category-header {
    border: solid 2px #30006d;
    border-radius: 10px;
    align-items: center;
    .left-header-section {
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 70px;
        font-weight: 700;
        align-items: center;
      }
      h2 {
        font-size: 40px;
        align-items: center;
      }
      .nav-link {
        font-size: 16px;
        font-weight: 700;
        color: black;
      }
    }
  }
  .tutorial-community-card {
    border: solid 2px #30006d;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 40px;
      font-weight: 700;
    }
    .flow-card {
      border: solid 1px #30006d;
      box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.09);
      height: auto;
      border-radius: 5px;
      h5 {
        font-size: 15px;
        font-weight: 700;
        margin-top: 15px;
      }
      i {
        font-size: 55px;
      }
      .red {
        color: rgb(150, 1, 38);
      }
      .green {
        color: rgb(46, 131, 12);
      }
      .blue {
        color: rgb(6, 67, 124);
      }
      .orange {
        color: orangered;
      }
      .yellow {
        color: yellow;
      }
    }
  }

  .search {
    padding: 10px 50px 10px 50px;
    height: 50px;
    width: 100%;
    border: solid 2px #30006d;
    border-radius: 10px;
    outline: none;
  }
  .search-icon {
    align-items: center;
    font-size: 20px;
    color: rgb(6, 67, 124);
  }

  .tech-card {
    border: none;
    box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.09);
    height: auto;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    align-items: center;
  }
}

.tech-tag-col {
  ul {
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    :hover {
      background-color: rgba(0, 0, 0, 0.09);
      height: auto;
      border-radius: 5px;
    }
  }

  ul {
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #f1efef;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
      background-color: #fff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #c3c3c3;
    }
  }

  .tech-tag {
    justify-content: center;
    align-items: center;
    background-color: #c7bdd4;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    padding: 10px;
    margin: 10px;
  }

  .category-tag {
    width: auto;
    justify-content: center;
    align-items: center;
    background-color: #c7bdd4;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    padding: 10px;
    margin: 10px;
    p {
      font-size: 11px;
    }
  }
}

.tutorial-card {
  // border: solid 1px #30006d;
  box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.09);
  height: auto;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  h6 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
  .tag {
    padding: 2px 5px 2px 5px;
    font-size: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(46, 131, 12);
  }
  i {
    font-size: 20px;
  }
  .red {
    color: rgb(150, 1, 38);
  }
  .green {
    color: rgb(46, 131, 12);
  }
  .blue {
    color: rgb(6, 67, 124);
  }
  .orange {
    color: orangered;
  }
  .voilet {
    color: #673de6;
  }
  .yellow {
    color: yellow;
  }
}

.tutorial-list-card {
  h6 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
  box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.09);
  height: auto;
  border-radius: 5px;
  border: none;
  padding: 10px 0 10px 0;
}

.tutorial-page {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 15px;
  }
  i {
    font-size: 55px;
  }
  .nav-link {
    font-size: 16px;
    font-weight: 700;
    color: black;
  }
  .red {
    color: rgb(150, 1, 38);
  }
  .green {
    color: rgb(46, 131, 12);
  }
  .blue {
    color: rgb(6, 67, 124);
  }
  .orange {
    color: orangered;
  }
  .yellow {
    color: yellow;
  }
  .start-learning-btn {
    width: auto;
    height: 50px;
    border-radius: 8px;
    background-color: #30006d;
    color: #ffffff;
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }

  .submitter-card {
    border: none;
    box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.09);
    height: auto;
    border-radius: 10px;
    align-items: center;
  }
}

.filter {
  background-color: #30006d;
  border-radius: 5px;
  height: 500px;
  color: #ffffff;
  align-items: center;
  h5 {
    color: #fff;
  }
  h6 {
    color: #fff;
    margin-bottom: 15px;
    margin-top: 25px;
  }
  input {
    cursor: pointer;
  }
  p {
    cursor: pointer;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 0px;
    align-items: center;
  }
  hr {
    color: #ffffff;
  }
}

.show-filter {
  background-color: #30006d;
  height: auto;
  width: 30%;
  border-radius: 5px;
  h5 {
    font-size: 17px;
    color: #ffffff;
  }
  transition: ease-in-out 3s;
}

.add-tutorial {
  border: solid 2px #30006d;
  border-radius: 5px;
  color: #ffffff;
  align-items: center;
  text-align: center;
  i {
    color: green;
    font-size: 45px;
  }
  h5 {
    font-size: 15px;
  }
}

.tutorial-card-section {
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
}

.comment-section {
  text-align: center;
}

.user-comment {
  border: solid 1px #30006d;
  box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.09);
  height: auto;
  border-radius: 10px;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.add-totorial {
  .add-form {
    border: none;
    padding: 15px;
    position: relative;
    box-shadow: 0 3px 6px 0px #673de6;
    height: auto;
    border-radius: 5px;
  }
  h2 {
    font-size: 28px;
  }
  .add-button {
    background-color: rgb(46, 131, 12);
    color: #ffffff;
    font-size: 13px;
    i {
      color: #ffffff;
      font-size: 13px;
    }
  }
  .edit-button {
    background-color: #673de6;
    color: #ffffff;
    font-size: 13px;
    i {
      color: #ffffff;
      font-size: 13px;
    }
  }
  .cancel-button {
    background-color: grey;
    color: #ffffff;
    font-size: 13px;
    i {
      color: #ffffff;
      font-size: 13px;
    }
  }
}

.type-tag {
  // justify-content: center;
  align-items: center;
  display: flex;
  .type-checkbox {
    display: flex;
  }
  input {
    cursor: pointer;
    font-size: 12px;
  }
  label {
    p {
      cursor: pointer;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 0px;
      align-items: center;
    }
  }
}

.tags-input {
  width: 100%;
  margin: 10px;
  .tags-area {
    width: 100%;
    border: solid 2px #673de6;
    border-radius: 2px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    .tag {
      margin: 0 5px 0 5px;
      padding: 0 8px 0 8px;
      font-size: 10px;
      font-weight: 700;
      color: #ffffff;
      display: flex;
      border-radius: 3px;
      background-color: #673de6;
      align-items: center;
    }
    input {
      flex: 1;
      outline: none;
      border: none;
    }
  }
}

.delete-tutorial-modal {
  .modal-header,
  h5 {
    font-size: 15px;
    color: #30006d;
    font-family: "Akzidenz", "‘Helvetica Neue’", Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
}

.fontSearch {
  position: relative;
}

.fontSearch i {
  position: absolute;
  left: 13px;
  top: 16px;
  color: gray;
}

@media (max-width: 767px) {
  h2 {
    font-size: 20px;
  }

  .user-comment {
    width: auto;
  }

  .add-totorial {
    .add-form {
      position: relative;
    }
  }

  .col-sm-12 {
    display: flex;
    flex-direction: column-reverse;
  }

  .filter-text {
    display: none;
  }

  .category-page {
    .category-header {
      .left-header-section {
        h1 {
          font-size: 40px;
          text-align: center;
        }
        h2 {
          font-size: 33px;
          text-align: center;
        }
        p {
          text-align: center;
          font-size: 16px;
          margin-top: 10px;
          padding: 0 10px 0 10px;
        }
      }
    }
    .tutorial-community-card {
      border: none;
      h2 {
        font-size: 30px;
        margin-top: 15px;
      }
    }
  }

  .tech-tag-col {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    ul {
      height: auto;
      border-right: none;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      display: flex;
      padding: 0;
      li {
        display: flexbox;
      }
      :hover {
        background-color: rgba(0, 0, 0, 0.09);
        box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.09);
        height: auto;
        border-radius: 5px;
      }
    }
  }

  .tutorial-card-section {
    // overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
    // white-space: nowrap;
    // display: flex;
  }

  .recommend-section {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    white-space: nowrap;
  }
}
