.footer-section {
  background-color: #30006d;
  color: #b89ddb;
  h6 {
    color: white;
  }
  span {
    color: yellow;
    font-size: 14px;
    font-weight: 600;
  }
  .logo-section {
    border-left: solid 6px #b89ddb;
  }
}
