.header {
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  position: sticky;
  top: -3px;
  transition: top 0.3s;

  .card-shadow {
    border: none;
    box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.09);
    height: auto;
  }
  .header-text {
    text-align: center !important;
    font-size: 20px;
    text-transform: uppercase;
  }
  .join-us {
    width: 100px;
    border: solid 2px #30006d;
  }

  .left-section {
    // justify-content: space-between;
    display: flex;
    align-items: center;
    .toggle-button {
      // justify-content: space-around;
      cursor: pointer;
      color: #30006d;
      font-size: 30px;
    }

    .category-dropdown {
      width: auto;
      color: #30006d;
      border: solid 2px #30006d;
      margin-left: 25px;
      background-color: whitesmoke;
    }
    .dropdown-menu {
      margin-top: 20px;
      border: solid 2px #30006d;
      border-radius: 5px;
      width: 600px;
      height: 300px;
    }
  }
  .right-section {
    justify-content: flex-end;
    align-items: center;
    .profile-dropdown {
      width: auto;
      color: #30006d;
      text-decoration: none;
      .dropdown-header {
        color: #ffffff;
        border-bottom: solid 1px #ffffff;
        margin-bottom: 5px;
        font-size: 18px;
      }
      .dropdown-menu {
        background-color: #673de6;
        align-items: center;
        a {
          text-decoration: none;
          :hover {
            background-color: #ffffff;
            color: #673de6;
          }
        }
        :hover {
          background-color: #ffffff;
          color: #673de6;
        }
        button {
          outline: none;
          span {
            :hover {
              background-color: #ffffff;
              color: #673de6;
            }
          }
        }
        i {
          color: #ffffff;
          font-size: 16px;
        }
        span {
          color: #ffffff;
          :hover {
            background-color: #ffffff;
            color: #673de6;
          }
          text-decoration: none;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}

.header-hide {
  top: -80px;
}

@media only screen and (min-width: 768px) {
  // .toggle-button {
  //   display: none;
  // }
  .header-text-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    height: auto;
    .left-section {
      // display: flex;
      // justify-content: space-between;
      align-items: center !important;
      .header-text-mobile {
        font-size: 27px;
        text-transform: uppercase;
      }
      .category-dropdown {
        display: none;
      }
    }
    .header-profile {
      justify-content: flex-end;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .header-text {
    display: none;
  }
  .right-section {
    justify-content: flex-end;
  }
}
