.header {
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  position: sticky;
  top: -3px;
  transition: top 0.3s;

  .card-shadow {
    border: none;
    box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.09);
    height: auto;
  }
  .header-text {
    text-align: center !important;
    font-size: 20px;
    text-transform: uppercase;
  }
  .join-us {
    width: 100px;
    border: solid 2px #30006d;
  }

  .left-section {
    // justify-content: space-between;
    display: flex;
    align-items: center;
    .toggle-button {
      // justify-content: space-around;
      cursor: pointer;
      color: #30006d;
      font-size: 30px;
    }

    .category-dropdown {
      width: auto;
      color: #30006d;
      border: solid 2px #30006d;
      margin-left: 25px;
      background-color: whitesmoke;
    }
    .dropdown-menu {
      h2 {
        font-size: 24px;
      }
      a {
        text-decoration: none;
      }
      margin-top: 20px;
      border: solid 2px #30006d;
      border-radius: 5px;
      width: 800px;
      height: auto;
    }
  }
  .right-section {
    justify-content: flex-end;
    align-items: center;
    .profile-dropdown {
      width: auto;
      color: #30006d;
      text-decoration: none;
      .dropdown-header {
        color: #ffffff;
        border-bottom: solid 1px #ffffff;
        margin-bottom: 5px;
        font-size: 18px;
      }
      .dropdown-menu {
        background-color: #673de6;
        align-items: center;
        a {
          text-decoration: none;
          :hover {
            background-color: #ffffff;
            color: #673de6;
          }
        }
        :hover {
          background-color: #ffffff;
          color: #673de6;
        }
        button {
          outline: none;
          span {
            :hover {
              background-color: #ffffff;
              color: #673de6;
            }
          }
        }
        i {
          color: #ffffff;
          font-size: 16px;
        }
        span {
          color: #ffffff;
          :hover {
            background-color: #ffffff;
            color: #673de6;
          }
          text-decoration: none;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}

.header-hide {
  top: -80px;
}

// Our Story SCSS

.our-story-header,
.our-partners-header {
  height: 390px;
  background-color: #30006d;
  h1 {
    font-size: 60px;
    color: #ffffff;
  }
}

.our-community {
  justify-content: center;
  align-items: center;
  .social-card {
    align-items: center;
    text-align: center;
    margin: 10px;
    border: solid 2px #30006d;
    height: auto;
    border-radius: 5px;
    padding: 10px 0 20px 0;
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 18px;
      white-space: nowrap;
    }
    p {
      font-size: 12px;
    }
    .social-follow-btn {
      border: solid 2px #30006d;
      font-size: 13px;
    }
  }
}

.react-multi-carousel-list {
  button {
    outline: none;
  }
  .react-multi-carousel-item {
    width: 300px;
    padding: 0 20px 0 20px;
    button {
      outline: none;
    }
  }
}

.react-multiple-carousel__arrow {
  background-color: #673de6;
  min-height: 33px;
  min-width: 33px;
}
.react-multiple-carousel__arrow:hover {
  background-color: #30006b;
}

.people-card {
  padding: 20px;
  border-radius: 5px;
  display: initial;
  box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.09);
  height: auto;

  .rounded-circle {
    height: 70px;
    width: 70px;
  }

  .quote {
    i {
      background-color: #673de6;
      border-radius: 50%;
      text-align: center;
      padding: 15px;
      font-size: 50px;
      color: #ffffff;
      text-align: left !important;
      position: relative;
      top: 20px;
      left: -12px;
    }
  }
  .people-card-body {
    border: solid 2px #673de6;
    border-radius: 7px;
    padding: 20px;
    p {
      font-size: 14px;
      font-weight: 500;
    }
    h2 {
      padding-top: 10px;
      font-size: 18px;
      color: #30006b;
    }
  }
}

.add-testimomnial-btn {
  justify-content: center;
  background-color: #30006d;
  color: #ffffff;
}

.testimonial-form {
  padding: 20px;
  justify-content: center;
  text-align: center;
  h2 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  // .toggle-button {
  //   display: none;
  // }
  .header-text-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    height: auto;
    .left-section {
      // display: flex;
      // justify-content: space-between;
      align-items: center !important;
      .header-text-mobile {
        font-size: 27px;
        text-transform: uppercase;
      }
      .category-dropdown {
        display: none;
      }
    }
    .header-profile {
      justify-content: flex-end;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .header-text {
    display: none;
  }
  .right-section {
    justify-content: flex-end;
  }
  .our-story-header {
    height: 190px;
    h1 {
      font-size: 40px;
    }
    .ourstory-img {
      height: 110px;
      width: 300px;
    }
  }
  .vision-img {
    height: 300px;
    width: 300px;
  }
  .contactus-img {
    height: 250px;
    width: 300px;
  }
}
