.carousel-control-prev,
.carousel-control-next {
  position: relative;
}

.carousel-card {
  height: 500px;
  width: auto;
  background-color: #30006d;
  // background: linear-gradient(#30006d, #6d03f7c9);
  h1,
  h6 {
    color: white;
  }
  h2 {
    color: #fdd023;
    font-size: 25px;
    margin-top: 20px;
  }
  .heading-second {
    font-size: 28px;
  }

  .qoute {
    font-size: 15px;
    color: white;
    margin-top: 70px;
  }

  .get-started-button {
    //height: 20px;
    //width: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #30006d;
    font-weight: 600;
    font-family: "Fira Code", monospace;
    padding: 10px;
    border: solid 5px #30006d;
    margin-top: 80px;
  }
}

.community-section {
  .join-us-button {
    //height: 20px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 7px;
    color: #30006d;
    font-weight: 600;
    font-family: "Fira Code", monospace;
    padding: 8px;
    border: solid 5px #30006d;
    margin-top: 35px;
    align-items: center;
  }
}

.aboutus-section {
  .find-out-more {
    height: 200px;
    width: 300px;
    background-color: #673de6;
    color: white;
    font-size: 400;
    border-radius: 5px;
    .find-out-more {
      vertical-align: bottom;
      color: #ffffff;
      font-weight: 800;
      text-align: right;
      justify-content: right;
    }
  }
  p {
    font-size: 17px;
  }
  .tag-lines {
    span {
      justify-content: space-between;
      align-content: initial;
      margin-right: 15px;
      font-weight: 600;
    }
  }
}

.category-section {
  .category-card {
    h6 {
      font-size: 18px;
      font-weight: 600;
    }
    p {
      font-size: 13px;
      color: #212529;
    }
  }
  .card-shadow {
    border: none;
    box-shadow: 0 7px 4px 0px rgba(0, 0, 0, 0.09);
    height: auto;
    border-radius: 5px;
  }
}

.news-letter-section {
  height: 300px;
  align-items: center;
  .subscribe-form {
    justify-content: center;
    background-color: #673de6;
    padding: 0 80px 0 80px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    input {
      border: solid 2px #30006d;
      height: 50px;
      &::placeholder {
        color: #673de6;
        font-size: 12px;
        font-weight: 600;
      }

      &:-ms-input-placeholder {
        color: #673de6;
        font-size: 12px;
        font-weight: 600;
      }

      &::-ms-input-placeholder {
        color: #673de6;
        font-size: 12px;
        font-weight: 600;
      }
    }

    label {
      color: #ffffff;
    }
  }
  .subscribe-text {
    justify-content: center;
    h2 {
      font-size: 35px;
    }
    p {
      font-size: 15px;
    }
  }
  .subscribe-button {
    width: 200px;
    height: 55px;
    background-color: #30006d;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    border: solid 2px #ffffff;
    outline: none;
  }
}

@media (max-width: 767px) {
  .category-section {
    h2 {
      font-size: 24px;
    }
  }
  .carousel-card {
    height: auto;
  }
  .news-letter-section {
    height: auto;
    border-top: solid 2px #673de6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .subscribe-form {
      padding: 0 30px 0 30px;
      border-bottom-right-radius: 100px;
      border-bottom-left-radius: 100px;
      border-top-left-radius: 0px;
    }
    .subscribe-text {
      padding-top: 20px;
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
